<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ team_name }} Roster</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body class="roster-page">
  <header>
  <div class="teams-logo-container">
    <img class="teams-logo" src="{{ url_for('static', filename=team_logo) }}">
  </div>
</header>

  <h1 class="roster-description">{{ team_name }} Roster</h1>
    <ul>
      {% for player in roster %}
        <li><a class="player-select" href="/player_stats/{{ player[2] }} {{ ' '.join(player[3:]) }}">{{ player[0] }} {{ player[1] }} {{ player[2] }} {{ ' '.join(player[3:]) }}</a></li>
      {% endfor %}
    </ul>
</body>
</html>
